/* main */
.container-box-section-1 > img {
  width: 100%;
  margin-top: 7rem;
}
/* section 2 */
.parent-all-box-section-2 {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  gap: 4rem;
  line-height: 2.3rem;
}
.parent-all-box-section-2 .started-section-2 {
  background: #292f36;
  color: white;
  padding: 1rem;
  width: 160px;
  border-radius: 18px;
  display: inline-block;
  margin-top: 2rem;
}
.parent-all-box-section-2 #Started-section-id {
  background: #cda274;
}

.parent-all-box-section-2 .title-section-2 {
  color: #292f36;
}
.parent-all-box-section-2 .title-section-2 + .number-of-month {
  color: #292f36;
  font-size: 2rem;
  margin-block: 2.3rem;
  display: block;
}
.span-39-month {
  color: #cda274;
}
.parent-all-box-section-2 .description{
    color: #4D5053;
}
/* footer */
#footer-box{
    margin-top: 8rem;
}