/* main */
.container-box > .img-section-1 {
  width: 100%;
  margin-top: 10rem;
}

.container-box .img-section-1 + .title-section-1 {
  text-align: center;
  color: #292f36;
  padding-top: 4rem;
  font-size: 2rem;
}

.container-box .title-section-1 + .dsescription-section-1 {
  text-align: center;
  color: #cda274;
  padding-top: 3rem;
}

@media screen and (max-width: 400px) {
  .container-box .img-section-1 + .title-section-1 {
    font-size: 1.5rem;
  }
  .container-box > .img-section-1 {
    height: 160px;
  }
}

/* section 2 */
.parent-box-section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 0.7rem;
  line-height: 1.4rem;
  color: #4d5053;
  margin: 3rem 0 10rem 0;
}

@media screen and (max-width: 950px) {
  .parent-box-section-2 {
    font-size: 0.5rem;
    margin: 3rem 0 5rem 0;
  }
}
/* section-4 */
.container-parent-section-5 > .img-section-box {
  width: 70%;
  padding: 0 2rem;
  margin: auto;
  display: block;
  padding-top: 5rem;
}
@media screen and (max-width: 700px) {
  .container-parent-section-5 > .img-section-box {
    width: 100%;
    padding: 0 3rem;
  }
}
/* section 5 */
.parent-section-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.5rem;
  margin-top: 5rem;
  gap: 6rem;
}
.parent-section-5 .section-box > .title-section-box-5 {
  font-size: 2rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
  color: #292f36;
}
.parent-section-5 .section-box .title-section-box-5 + .description {
  color: #4d5053;
}
.parent-section-5 .section-box .box-number-section-5 {
  color: #cda274;
  padding-right: 0.6rem;
}
@media screen and (max-width: 635px) {
  .parent-section-5 {
    padding: 0 2rem;
    line-height: 1.2rem;
    justify-content: center;
    gap: 2rem;
  }
  .parent-section-5 .section-box > .title-section-box-5 {
    font-size: 1rem;
  }
  .parent-section-5 .section-box .title-section-box-5 + .description {
    font-size: 0.4rem;
    word-spacing: 0.5px;
  }
}
/* section 6 */
.box-container-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 10rem;
}
.box-container-6 .left-section > img {
  width: 100%;
}
.box-container-6 .right-section .title-6-section {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  color: #292f36;
}
.box-container-6 .right-section .title-6-section + .container-description {
  color: #4d5053;
}
.box-container-6 .right-section > a {
  color: white;
  background: #292f36;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1.3rem;
  display: inline-block;
}
@media screen and (max-width: 1040px) {
  .box-container-6 {
    padding: 0 2rem;
    margin-top: 3rem;
    gap: 2rem;
  }
  .box-container-6 .right-section .title-6-section {
    font-size: 0.6rem;
  }
  .box-container-6 .right-section .title-6-section + .container-description {
    font-size: 0.6rem;
    line-height: 1.1rem;
  }
  .box-container-6 .right-section > a {
    font-size: 0.5rem;
    width: 95px;
    margin-top: 0.7rem;
    margin-right: 1.2rem;
  }
}


