/* _____header_____ */
.header-box-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  user-select: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  background: #fff;
  top: 0;
}

/* menu */
.logo-parent-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-parent-header .icon-header-box {
  color: #cda274;
  font-size: 1.5rem;
}

.logo-parent-header .title-header {
  font-size: 1.5rem;
}

.ul-child-li li a {
  color: white;
}

.icon-header-box {
  display: flex;
  gap: 0.8rem;
}

/* display: none; */
.ul-box-container li > a {
  color: black;
}

.navbar-container-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100dvh;
  background: #2e2c2c6e;
  backdrop-filter: blur(3px);
  align-items: center;
  display: flex;
  justify-content: center;
  right: -100%;
  transition: all 0.4s;
}

.navbar-container-header .ul-box-container {
  line-height: 2.5rem;
  font-size: 1.2rem;
}

.label-box-hedaer {
  z-index: 100;
}

.label-box-hedaer .menu-burger {
  color: black;
}

.box-header:checked ~ .navbar-container-header {
  right: 0;
  transform: rotate(360deg);
}

.box-header {
  display: none;
}

@media screen and (max-width: 650px) {
  .ul-header-destkap {
    display: none;
  }
  .icon-remix-destkap {
    display: none;
  }
}

/* header-datkap */
@media screen and (min-width: 650px) {
  .label-box-hedaer {
    display: none;
  }
  .ul-box-header {
    display: none;
  }
  .icon-remix-mobile {
    display: none;
  }
  .ul-header-destkap {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .ul-header-destkap li {
    position: relative;
  }
  .ul-header-destkap li a::after {
    content: "";
    position: absolute;
    width: 100%;
    left: -100%;
    height: 1.5px;
    background: linear-gradient(
      130deg,
      rgb(0, 132, 255),
      rgb(122, 209, 214),
      rgb(93, 0, 255)
    );
    bottom: -3px;
    opacity: 0;
    transition: all 0.5s;
  }
  .ul-header-destkap li a:hover::after {
    opacity: 1;
    left: 0;
  }
  .header-box-container {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0rem;
  }
  .header-box-container .ul-header-destkap a {
    color: black;
    font-size: 1.1rem;
  }
}

/* main */
.main-box .div-container-box .sectio-img-page-1 {
  width: 80%;
  display: block;
  margin: 9rem auto;
}

.title-section-1 {
  font-size: 1rem;
}

.main-box .div-container-box {
  position: relative;
}

.parent-position {
  position: absolute;
  top: 30px;
  left: 65px;
  color: white;
}

.parent-position .description-section-1 {
  color: #ffffffc4;
  padding-top: 0.6rem;
  font-size: 0.8rem;
}

.main-box .div-container-box .parent-position .start-section-1 {
  background: #cda274;
  color: white;
  display: inline-block;
  width: 140px;
  padding: 1.5rem 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 0.9rem;
  display: flex;
  gap: 0.3rem;
}

@media screen and (min-width: 510px) {
  .parent-position {
    position: absolute;
    top: 10%;
    left: 15%;
  }
}

@media screen and (min-width: 950px) {
  .parent-position .description-section-1 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  .title-section-1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

/* section tow */
.container-section-tow {
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  align-items: center;
  margin-bottom: 6rem;
}

.title-section-tow {
  font-size: 1rem;
}

.icon-secion-tow {
  color: black;
  margin-top: 2rem;
  display: inline-block;
}

.description-section-tow {
  color: rgba(0, 0, 0, 0.532);
  margin-top: 0.8rem;
}

@media screen and (max-width: 540px) {
  .description-section-tow {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 800px) {
  .container-section-tow {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .description-section-tow {
    font-size: 1rem;
  }
}

/* section 3 */
.box-section-three {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  margin-left: 2rem;
}

.box-section-three .position-section-3 {
  position: absolute;
  top: 10%;
  left: 5%;
  color: white;
}

.container-box-section-3 {
  position: relative;
}

.box-section-three .img-section-3-box {
  width: 100%;
}

.box-section-three .img-section-box {
  width: 100%;
  margin-left: -2rem;
}

.container-box-section-3 .title-child-section {
  font-size: 0.7rem;
}

.container-box-section-3 .description-title-child {
  color: rgba(255, 255, 255, 0.747);
  font-size: 0.5rem;
  padding: 0.5rem 0;
}

.container-box-section-3 .container-flex-child {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 0.5rem;
}

.container-box-section-3 .container-flex-child p {
  color: rgba(255, 255, 255, 0.89);
  font-size: 0.4rem;
}
.container-box-section-3 .phone-icon-section-3 {
  color: #cda274;
  background: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.6rem;
}

.container-box-section-3 .start-icon-section-3 {
  background: #cda274;
  color: white;
  padding: 0.2rem;
  display: inline-block;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .box-section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
  }
  .position-section-3 .title-child-section {
    font-size: 2.3rem;
  }
  .position-section-3 .description-title-child {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin: 1.4rem 0;
  }
  .container-flex-child {
    margin: 1.5rem 0;
  }
  .container-flex-child .phone-icon-section-3 {
    width: 60px;
    height: 60px;
  }
  .container-box-section-3 .container-flex-child p {
    font-size: 1.1rem;
  }
  .container-box-section-3 .start-icon-section-3 {
    padding: 1rem;
    border-radius: 10px;
    margin-top: -0.5rem;
    font-size: 1rem;
  }
  .box-section-three .img-section-box {
    width: 90%;
  }
  .box-section-three .img-section-3-box {
    width: 90%;
  }
}

/* section 4 */
.all-parent-section-4-box {
  border-radius: 30px;
  position: relative;
  background: #d8a876;
  margin: auto;
  width: 70%;
  padding: 2rem;
  margin-top: 5rem;
  margin-bottom: 6rem;
}

.parent-section-4-box {
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.all-parent-section-4-box .description-section-4 {
  font-size: 0.8rem;
  line-height: 1.4em;
  padding-top: 0.5rem;
}

.all-parent-section-4-box .description-bottom-title {
  font-size: 0.9rem;
}

.all-parent-section-4-box .title-section-4 {
  font-size: 0.8rem;
}

.all-parent-section-4-box .parent-img-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.all-parent-section-4-box .img-section-4 {
  width: 40%;
}

#section-for-img {
  border-radius: 50%;
}

#container-img-4 {
  width: 33%;
}

.parent-section-4 {
  background: white;
  padding: 1.5rem;
  border-radius: 20px;
  width: 100%;
}

.main-title-section-4 {
  color: white;
  font-size: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .parent-section-4-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .parent-section-4 {
    width: 80%;
  }
  .all-parent-section-4-box .img-section-4 {
    width: 20%;
  }
  #container-img-4 {
    width: 20%;
  }
}

@media screen and (min-width: 300px) and (max-width: 630px) {
  .parent-section-4 {
    width: 100%;
  }
  .main-title-section-4 {
    font-size: 1rem;
  }
  .all-parent-section-4-box .description-section-4 {
    font-size: 0.4rem;
  }
  .all-parent-section-4-box .title-section-4 {
    font-size: 0.6rem;
  }
  .all-parent-section-4-box .description-bottom-title {
    font-size: 0.4rem;
  }
}
/* start section 5 */
.container-icon-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 3rem;
  margin-block: 5rem;
}

.container-icon-box img {
  width: 13%;
}

.container-icon-box img:nth-child(4) {
  width: 6%;
}

/* start section 6 */
.container-section-six {
  text-align: center;
  margin-block: 4rem;
}

.container-section-six .title-six-section {
  padding-bottom: 0.4rem;
  font-size: 2rem;
  margin-top: 6rem;
  color: #292f36;
}

.container-section-six .description-box-six {
  color: #4d5053;
  line-height: 1.8rem;
}

@media screen and (max-width: 400px) {
  .container-section-six .title-six-section {
    font-size: 1rem;
  }
  .container-section-six .description-box-six {
    font-size: 0.5rem;
    line-height: 1.3rem;
  }
}

/* start section 7 */
.container-section-seven img {
  width: 90%;
}

.container-section-seven {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2.6rem;
}

.container-section-seven .comman-section-seven {
  margin-top: 3rem;
}

.container-section-seven .parent-item-bedroom {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  margin-top: 1rem;
}

.container-section-seven .parent-item-bedroom a {
  background: #d8a876;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
}

@media screen and (max-width: 544px) {
  .container-section-seven .parent-item-bedroom a {
    width: 40px;
    height: 40px;
  }
  .parent-item-bedroom section h3 {
    font-size: 0.8rem;
  }
  .parent-item-bedroom section p {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 1900px) {
  .container-section-seven img {
    width: 100%;
    gap: 3rem;
  }
  .container-section-seven {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .parent-item-bedroom {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 400px) {
  .container-section-seven {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .parent-item-bedroom section h3 {
    font-size: 0.5rem;
    padding-bottom: 0.3rem;
  }
  .parent-item-bedroom section p {
    font-size: 0.4rem;
  }
  .container-section-seven .parent-item-bedroom a {
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
  }
}

/* section 8 */
.container-number-section-8 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-block: 7rem;
  gap: 0.3rem;
  line-height: 1.1rem;
}

.container-number-section-8 .title-number-section {
  font-size: 1.3rem;
  padding-bottom: 0.4rem;
  color: #cda274;
}

.container-number-section-8 .title-number-section + p {
  color: #4d5053;
  font-size: 0.7rem;
}

.section-number {
  position: relative;
}

.container-number-section-8 .section-number p::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 50px;
  background: #cda274;
  top: 0;
  right: -10%;
}

@media screen and (min-width: 500px) {
  .container-number-section-8 {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }
  .container-number-section-8 .section-number p::after {
    right: -40%;
  }
}

@media screen and (min-width: 1000px) {
  .container-number-section-8 {
    gap: 6rem;
  }
  .container-number-section-8 .title-number-section {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }
}

/* section 9 */
.parent-description-container-nine {
  text-align: center;
  margin-bottom: 5rem;
}

.parent-description-container-nine .title-section-9 {
  font-size: 1.4rem;
}

.parent-description-container-nine .title-section-9 + p {
  font-size: 0.7rem;
  line-height: 1.1rem;
}

@media screen and (min-width: 1000px) {
  .parent-description-container-nine {
    margin-top: 5rem;
  }

  .parent-description-container-nine .title-section-9 {
    margin-bottom: 0.7rem;
    font-size: 1.8rem;
  }
  .parent-description-container-nine .title-section-9 + p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
/* section 10 */
.home-section-container-10 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 4rem;
  gap: 2.3rem;
}

.home-section-container-10 .img-section-10 {
  width: 100%;
}

.home-section-container-10 .section-box-container-10 {
  background: #e4dede;
  margin-top: 1rem;
  padding: 1.3rem;
  border-radius: 62px;
  border: 1px solid rgb(199, 199, 199);
}

.home-section-container-10 .section-box-container-10 p {
  color: #4d5053;
}

.home-section-container-10 .section-box-container-10 a {
  background: #c76904;
  width: 52px;
  height: 52px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
}

.home-section-container-10 .section-box-container-10 .div-item-home-10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-section-container-10 .section-box-container-10 .title-main-section-10 {
  color: #292f36;
  padding-bottom: 1.5rem;
  margin-top: 0.3rem;
}

/* section 11 */
.last-section-page-one {
  position: relative;
  margin-top: 5rem;
}

.last-section-page-one img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.last-section-page-one .container-end-section {
  text-align: center;
  line-height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(50%);
}

.last-section-page-one .container-end-section .title-end {
  font-size: 2.3rem;
  color: white;
}

.last-section-page-one .container-end-section .title-end + p {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.last-section-page-one .container-end-section .title-end ~ a {
  color: white;
  background: #cda274;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.759);
  padding: 1rem;
}
@media screen and (max-width: 360px) {
  .last-section-page-one .container-end-section .title-end ~ a {
    margin-top: 0.5rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 1100px) {
  .last-section-page-one .container-end-section {
    line-height: 1.9rem;
    transform: translateY(70%);
  }
  .last-section-page-one .container-end-section .title-end {
    font-size: 1.7rem;
  }
  .last-section-page-one .container-end-section .title-end + p {
    font-size: 0.8rem;
  }
  .last-section-page-one .container-end-section .title-end ~ a {
    padding: 0.8rem;
  }
}

/* footer */
.footer-box-container .parent-container-box {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 2rem;
  line-height: 3rem;
  text-align: center;
}

.footer-box-container .parent-container-box .logo-item-footer {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
}

.footer-box-container .parent-container-box .logo-item-footer > a {
  font-size: 2rem;
  color: #cda274;
}

.footer-box-container .parent-container-box .logo-item-footer > h3 {
  font-size: 2rem;
}

.footer-box-container .parent-container-box .section-footer-1 {
  line-height: 1.6rem;
  text-align: left;
}

.footer-box-container .parent-icon-footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.footer-box-container .parent-icon-footer > a {
  color: black;
  font-size: 1.1rem;
}

.footer-box-container .copyright-box {
  text-align: center;
  padding: 5rem 0 3rem;
}

@media screen and (max-width: 900px) {
  .footer-box-container .parent-container-box {
    justify-content: space-between;
    padding: 2rem 0.3rem;
  }
  .footer-box-container .parent-container-box .logo-item-footer > a {
    font-size: 1rem;
  }
  .footer-box-container .parent-container-box .logo-item-footer > h3 {
    font-size: 1rem;
  }
  .footer-box-container .parent-container-box .section-footer-1 > p {
    font-size: 0.5rem;
  }
  .footer-box-container .parent-icon-footer > a {
    font-size: 0.5rem;
    display: flex;
    margin-top: -2rem;
  }
  .title-footer {
    font-size: 0.7rem;
  }
  .section-footer > p {
    font-size: 0.5rem;
    line-height: 1.6rem;
  }
  .footer-box-container .copyright-box {
    padding: 1rem 0;
  }
}
